<!-- <h2> Post Create</h2> -->
<mat-card>
  <form (submit)="onPostAdded(postFormNew)" #postFormNew="ngForm">
    <mat-form-field>
      <input
       matInput
       type="text"
       name="title"
       ngModel
       required minlength="3"
       #title="ngModel">
       <mat-error *ngIf="title.invalid">Post Title Cannot Be Null</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput
        name="content"
        ngModel
        required
        #content="ngModel">
      </textarea>
      <mat-error *ngIf="content.invalid">Post Body Cannot Be Empty</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      name="savePost"
      color="primary"
      type="Submit">Save Post
    </button>
  </form>
</mat-card>
